
.root {
  @screen-width: 1280px;
  @screen-height: 720px;
  @num_tile_cols: 6;
  @num_tile_rows: 6;
  @tile_height: calc(@screen-height / (0.5 + @num_tile_rows));
  @tile_width: @tile_height;

  min-width: @screen-width;
  min-height: @screen-height;

  .has-steps-indicator {
    background-color: rgb(40, 40, 40);
    margin: 3px;
  }

  .has-steps-indicator.has-steps {
    background-color: rgb(90, 90, 90);
  }

  .is-playing-indicator {
    margin: 3px;
  }

  .is-playing-indicator.is-playing {
    background-color: rgb(40, 40, 40);
  }

  .tile .volume {
    min-height: 2cm;
  }


  .tile {
    border: 1px solid black;
    border-radius: 0;
    margin: 2px;

    .waveform {
      // -gtkmm__CustomObject_WaveformThumb-foo: @tile_width;
    }
  }

  .tile.selected {
    border-color: rgb(160, 160, 160);
  }

  .is-playing-indicator.level-80db {
    background: rgba(255, 0, 0, 0);
  }

  .is-playing-indicator.level-70db {
    background: rgba(255, 0, 0, 0.3);
  }

  .is-playing-indicator.level-60db {
    background: rgba(255, 0, 0, 0.4);
  }

  .is-playing-indicator.level-50db {
    background: rgba(255, 0, 0, 0.5);
  }

  .is-playing-indicator.level-40db {
    background: rgba(255, 0, 0, 0.6);
  }

  .is-playing-indicator.level-30db {
    background: rgba(255, 0, 0, 0.7);
  }

  .is-playing-indicator.level-20db {
    background: rgba(255, 0, 0, 0.8);
  }

  .is-playing-indicator.level-10db {
    background: rgba(255, 0, 0, 0.9);
  }

  .is-playing-indicator.level-0db {
    background: rgba(255, 0, 0, 1.0);
  }

  .section .header {
    border: 1px solid black;
    background: gray;
    color: white;
    font-size: xx-large;
    font-weight: bold;
  }

  .steps-wizard {
    .knobs {
      border: 1px solid black;
      padding: 5mm;

      .knob {
        border: 1px solid gray;
        padding: 5mm;
      }
    }

    .buttons {
      border: 1px solid black;
      padding: 5mm;

      .button {
        border: 1px solid gray;
        padding: 5mm;
      }
    }
  }

  .root .lower {
    background-color: white;
  }

  .tile {
    min-width: @tile_width;
    min-height: @tile_height;

    //-gtkmm__CustomObject_tile-size: @tile_height;
  }

}