
.root {
  font-size: 12px;
  @screen-width: 1200;
  @screen-height: 720;

  @num-tile-cols: 6;
  @num-tile-rows: 6;

  @tile-height: 1px * @screen-height / (0.5 + @num-tile-rows);
  @tile-width: @tile-height;

  min-width: @screen-width * 1px;
  min-height: @screen-height * 1px;

  .tiles.mute-toolbox .tile.muted {
    background: red;

    .waveform {
      background: lighter(red);
    }
  }

  .tiles .tile.muted {
    .waveform {
      color: gray;
    }
  }

  .tile {
    border: 3px solid gray;
    margin: 1px;
    border-radius: 0;
    background-color: rgb(100, 100, 100);
    -gtkmm__CustomObject_Tile-size: @tile-width;

    @string-margin: 3px;

    .waveform {
      background-color: rgb(150, 150, 150);
      color: orange;
    }

    .waveform:visited {
      color: orange;
    }

    .waveform:active {
      color: white;
    }

    .sample-file {
      color: white;
      margin-left: @string-margin;
      margin-right: @string-margin;
    }

    .seconds {
      color: white;
      margin-left: @string-margin;
      margin-right: @string-margin;
    }

    .step {
      border: 1px solid gray;
      background-color: rgb(200, 200, 200);
      padding: 0;
      margin: 0;
    }

    .step.selected {
      background-color: white;
    }

    .level-meter {
      background-color: rgb(150, 150, 150);
      color: red;
      border: none;
      outline-width: 0;
      outline-offset: 0;
    }

    .level-meter.gain {
      color: white;
    }
  }

  .tile.selected {
    border-color: orange;
  }

  .tile .volume {
    min-height: 2cm;
  }

  .section {
    .toolbox {
      .header {
        color: white;
        font-size: large;
      }

      .waveform {
        color: lightgray; // color of faded out audio frames
      }

      .waveform:active {
        color: orange; // color of faded in audio frames
      }

      .waveform:checked {
        color: white; // color of envelope stripes
      }

      .waveform:focus {
        color: red; // color of hit point indicator
      }

      .minimized {
        padding-bottom: 10px;

        .header {
          font-weight: normal;
        }

        .parameter {
          padding-left: 15px;
          padding-right: 0px;
          margin: 0px;
        }
      }

      .maximized {
        .header {
          background: orange;
          font-weight: bold;
        }

        border: 3px solid orange;
      }
    }

  }

  .section.mixer {
    .channel {
      -gtkmm__CustomObject_Channel-size: @tile-width;
      border: 3px solid gray;
      margin: 1px;
    }

    .channel.selected {
      border-color: orange;
    }
  }

  .knobs {
    border: 1px solid black;
    padding: 2mm;

    .knob {
      border: 1px solid gray;
      padding: 2mm;
      font-size: 8px;
    }
  }

  .buttons {
    border: 1px solid black;
    padding: 2mm;
    font-size: 10px;

    .button {
      border: 1px solid gray;
      padding: 2mm;
    }
  }

  .root .lower {
    background-color: white;
  }
}